{
  "grq": [
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-OPERA\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.tif\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"L3_DSWx_HLS\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_L3_DSWX_HLS",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-OPERA\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.xml\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"bool\": {\n \"should\": [\n{\n \"term\": {\n \"dataset.keyword\": \"CLCL\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"CHSL\"\n}\n}\n]\n}\n}\n],\n\"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_ANCILLARY",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
   }
  ],
  "mozart": []
}
