{
  "grq": [
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-NISAR\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.vc*\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"NEN_L_RRST\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_NEN_L_RRST",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-NISAR\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.h5\",\"*.yaml\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"NEN_S_RRST\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_NEN_S_RRST",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-NISAR\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.bin\",\"*.yaml\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"L0A_L_RRST\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_L0A_L_RRST",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-NISAR\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.h5\",\"*.yaml\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"L0A_S_RRST\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_L0A_S_RRST",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-NISAR\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.h5\",\"*.yaml\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"L1_L_RSLC\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_L1_L_RSLC",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-NISAR\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.xml\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"bool\": {\n \"should\": [\n{\n \"term\": {\n \"dataset.keyword\": \"COP\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"FOE\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"NOE\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"MOE\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"POE\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"FRP\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"PRP\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"NRP\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"ROP\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"STUF\"\n}\n}\n]\n}\n}\n],\n\"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_ANCILLARY",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
   },
   {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-NISAR\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"NISAR_*_SCLKSCET_LRCLK.*[0-9]\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"SCLKSCET\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_SCLKSCET",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
   }
  ],
  "mozart": []
}
