{
  "grq": [
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-OPERA\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ PO_DAAC_PROXY }}\",\"sqs_queue_url\":\"{{ PO_DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ PO_DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.tif\"],\"browse\":[\"*.png\"],\"metadata\":[\"*.log\",\"*.catalog.json\",\"*.iso.xml\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\",\"product_type_key\": \"CollectionName\",\"data_version\":\"1.0\",\"schema_version\":\"1.5\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"L3_DSWx_HLS\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_L3_DSWX_HLS",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-OPERA\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ ASF_DAAC_PROXY }}\",\"sqs_queue_url\":\"{{ ASF_DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ ASF_DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.h5\"],\"browse\":[\"*.png\"],\"metadata\":[\"*.iso.xml\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\",\"product_type_key\": \"CollectionName\",\"data_version\":\"0.0\",\"schema_version\":\"1.5\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"L2_CSLC_S1\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_L2_CSLC_S1",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-OPERA\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ ASF_DAAC_PROXY }}\",\"sqs_queue_url\":\"{{ ASF_DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ ASF_DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.h5\"],\"metadata\":[\"*.iso.xml\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\",\"product_type_key\": \"CollectionName\",\"data_version\":\"0.0\",\"schema_version\":\"1.5\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"L2_CSLC_S1_static_layers\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_L2_CSLC_S1_static_layers",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-OPERA\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ ASF_DAAC_PROXY }}\",\"sqs_queue_url\":\"{{ ASF_DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ ASF_DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.tif\", \"*.h5\"],\"browse\":[\"*.png\"],\"metadata\":[\"*.iso.xml\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\",\"product_type_key\": \"CollectionName\",\"data_version\":\"0.0\",\"schema_version\":\"1.5\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"L2_RTC_S1\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_L2_RTC_S1",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-OPERA\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ ASF_DAAC_PROXY }}\",\"sqs_queue_url\":\"{{ ASF_DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ ASF_DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.tif\"],\"browse\":[\"*.png\"],\"metadata\":[\"*.iso.xml\",\"*.iso.xml.md5\",\"*.tif.md5\",\"*.png.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\",\"product_type_key\": \"CollectionName\",\"data_version\":\"0.0\",\"schema_version\":\"1.5\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"term\": {\n \"dataset.keyword\": \"L2_RTC_S1_static_layers\"\n }\n }\n ],\n \"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_L2_RTC_S1_static_layers",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
    },
    {
      "enabled": true,
      "job_type": "hysds-io-send_notify_msg:__TAG__",
      "kwargs": "{\"provider_name\":\"JPL-OPERA\",\"checksum_type\":\"md5\",\"publisher_arn\":\"{{ ASF_DAAC_PROXY }}\",\"kinesis_role_arn\":\"\",\"sqs_queue_url\":\"{{ ASF_DAAC_SQS_URL }}\",\"sqs_endpoint_url\":\"{{ ASF_DAAC_ENDPOINT_URL }}\",\"staged_data_types\":{\"data\":[\"*.xml\"],\"metadata\":[\"*.context.json\",\"*.met.json\",\"*.dataset.json\",\"*.md5\"]},\"use_s3_uri_structure\": \"{{ USE_S3_URI }}\",\"product_type_key\": \"ProductType\"}",
      "passthru_query": false,
      "priority": 0,
      "query_all": false,
      "query_string": "{\n \"bool\": {\n \"must\": [\n {\n \"bool\": {\n \"should\": [\n{\n \"term\": {\n \"dataset.keyword\": \"CLCL\"\n}\n},\n{\n \"term\": {\n \"dataset.keyword\": \"CHSL\"\n}\n}\n]\n}\n}\n],\n\"must_not\": [\n {\n \"term\": {\n \"metadata.restaged\": \"true\"\n }\n }\n ]\n }\n}",
      "queue": "opera-job_worker-send_cnm_notify",
      "rule_name": "trigger-send_cnm_notify_msg_ANCILLARY",
      "username": "hysdsops",
      "workflow": "hysds-io-send_notify_msg:__TAG__",
      "job_spec": "job-send_notify_msg:__TAG__"
   }
  ],
  "mozart": []
}
