<html>
<head>
  <link href="/index-style/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/index-style/sortable/sortable.js"></script>	
</head>
<body>
  <div id="commandbar"></div>
  <div id="files"></div>
  <div id="footer">
    <a target="_blank" href="http://recurser.com/articles/2008/12/29/styling-apache-directory-listings-with-mod_autoindex/">Index&nbsp;Style</a>&nbsp;0.1&amp; <a target="_blank" class="last" href="http://www.kde-look.org/content/show.php?content=16479">Cezanne&nbsp;icons</a>
  </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript">
  var S3BL_IGNORE_PATH = false;
  var BUCKET_URL = 'http://{{ DATASET_BUCKET }}.{{ DATASET_S3_ENDPOINT }}';
</script>
<script src="/list.js"></script>
</body>
</html>
