runconfig:
  name: NISAR_LSAR_EX_RUNCONFIG
  groups:
    PGENameGroup:
      PGEName: {{ data.PGEName }}
    InputFileGroup:
      InputFilePath:
      {%- for type in data.InputFilePath.keys() %}
        {%- for input in data.InputFilePath[type] %}
        - {{ input }}
        {%- endfor %}
      {%- endfor %}
    DynamicAncillaryFileGroup:
      LRCLKFile: {{ data.DynamicAncillaryFileGroup.LRCLKFile }}
    ProductPathGroup:
      ProductPath: {{ data.ProductPath }}
    DebugLevelGroup:
      DebugSwitch: {{ data.DebugSwitch }}
