RunConfig:
  Name: OPERA-CSLC-S1-PGE-CONFIG
  Groups:
    PGE:
      PGENameGroup:
        PGEName: CSLC_S1_PGE
      InputFilesGroup:
        InputFilePaths:
          {%- for input in data.input_file_group.values() %}
          - {{ input }}
          {%- endfor %}
      DynamicAncillaryFilesGroup:
        AncillaryFileMap:
          {%- for type in data.dynamic_ancillary_file_group.keys() %}
          {%- if data.dynamic_ancillary_file_group[ type ] is not none %}
          {{ type }}: {{ data.dynamic_ancillary_file_group[ type ] }}
          {%- endif %}
          {%- endfor %}
          {%- for type in data.static_ancillary_file_group.keys() %}
          {%- if data.static_ancillary_file_group[ type ] is not none %}
          {{ type }}: {{ data.static_ancillary_file_group[ type ] }}
          {%- else %}
          {{ type }}:
          {%- endif %}
          {%- endfor %}
      ProductPathGroup:
        OutputProductPath: {{ data.product_path_group.product_path }}
        ScratchPath: {{ data.product_path_group.scratch_path }}
      PrimaryExecutable:
        ProductIdentifier: CSLC_S1
        ProductVersion: "{{ data.product_path_group.product_version }}"
        ProgramPath: conda
        ProgramOptions:
          - run
          - -n
          - COMPASS
          - s1_cslc.py
        ErrorCodeBase: 200000
        SchemaPath: /home/compass_user/opera/pge/cslc_s1/schema/cslc_s1_sas_schema.yaml
        IsoTemplatePath: /home/compass_user/opera/pge/cslc_s1/templates/OPERA_ISO_metadata_L2_CSLC_S1_template.xml.jinja2
        DataValidityStartDate: {{ data.product_path_group.data_validity_start_date }}
      QAExecutable:
        Enabled: False
        ProgramPath:
        ProgramOptions:
      DebugLevelGroup:
        DebugSwitch: False
        ExecuteViaShell: False
    SAS:
      runconfig:
        name: cslc_s1_workflow_default
        groups:
          pge_name_group:
            pge_name: CSLC_S1_PGE
          input_file_group:
            {%- for type in data.input_file_group.keys() %}
            {%- if data.input_file_group[ type ] is not none %}
            {{ type }}:
              - {{ data.input_file_group[ type ] }}
            {%- endif %}
            {%- endfor %}
            burst_id:
          dynamic_ancillary_file_group:
            {%- for type in data.dynamic_ancillary_file_group.keys() %}
            {%- if data.dynamic_ancillary_file_group[ type ] is not none %}
            {{ type }}: {{ data.dynamic_ancillary_file_group[ type ] }}
            {%- else %}
            {{ type }}:
            {%- endif %}
            {%- endfor %}

            # TODO: update descriptions as necessary when new ancillary releases are available
            dem_description: "Digital Elevation Model (DEM) for the NASA OPERA project version 1.1 (v1.1) based on the Copernicus DEM 30-m and Copernicus 90-m referenced to the WGS84 ellipsoid"
          static_ancillary_file_group:
            {%- for type in data.static_ancillary_file_group.keys() %}
            {%- if data.static_ancillary_file_group[ type ] is not none %}
            {{ type }}: {{ data.static_ancillary_file_group[ type ] }}
            {%- else %}
            {{ type }}:
            {%- endif %}
            {%- endfor %}
          product_path_group:
            product_path: {{ data.product_path_group.product_path }}
            scratch_path: {{ data.product_path_group.scratch_path }}
            sas_output_file: {{ data.product_path_group.product_path }}
            product_version: "{{ data.product_path_group.product_version }}"
            product_specification_version: "{{ data.product_path_group.product_specification_version }}"
          primary_executable:
            product_type: {{ data.processing.product_type }}
          processing:
            polarization: {{ data.processing.polarization }}
            geocoding:
              flatten: True
              x_posting: 5
              y_posting: 10
            geo2rdr:
              lines_per_block: 1000
              threshold: 1.0e-8
              numiter: 25
