RunConfig:
  Name: OPERA-CSLC-S1-PGE-CONFIG
  Groups:
    PGE:
      PGENameGroup:
        PGEName: CSLC_S1_PGE
      InputFilesGroup:
        InputFilePaths:
          {%- for input in data.input_file_group.values() %}
          - {{ input }}
          {%- endfor %}
      DynamicAncillaryFilesGroup:
        AncillaryFileMap:
          {%- for type in data.dynamic_ancillary_file_group.keys() %}
          {%- if data.dynamic_ancillary_file_group[ type ] is not none %}
          {{ type }}: {{ data.dynamic_ancillary_file_group[ type ] }}
          {%- endif %}
          {%- endfor %}
      ProductPathGroup:
        OutputProductPath: {{ data.product_path_group.product_path }}
        ScratchPath: {{ data.product_path_group.scratch_path }}
      PrimaryExecutable:
        ProductIdentifier: CSLC_S1
        # TODO remove quotes for next release
        ProductVersion: "{{ data.product_path_group.product_version }}"
        ProgramPath: conda
        ProgramOptions:
          - run
          - -n
          - COMPASS
          - s1_cslc.py
        ErrorCodeBase: 200000
        SchemaPath: /home/compass_user/opera/pge/cslc_s1/schema/cslc_s1_sas_schema.yaml
        IsoTemplatePath: /home/compass_user/opera/pge/cslc_s1/templates/OPERA_ISO_metadata_L2_CSLC_S1_template.xml.jinja2
      QAExecutable:
        Enabled: False
        ProgramPath:
        ProgramOptions:
      DebugLevelGroup:
        DebugSwitch: False
        ExecuteViaShell: False
    SAS:
      runconfig:
        name: cslc_s1_workflow_default
        groups:
          pge_name_group:
            pge_name: CSLC_S1_PGE
          input_file_group:
            {%- for type in data.input_file_group.keys() %}
            {%- if data.input_file_group[ type ] is not none %}
            {{ type }}:
              - {{ data.input_file_group[ type ] }}
            {%- endif %}
            {%- endfor %}
            burst_id: {{ data.burst_id }}
          dynamic_ancillary_file_group:
            {%- for type in data.dynamic_ancillary_file_group.keys() %}
            {%- if data.dynamic_ancillary_file_group[ type ] is not none %}
            {{ type }}: {{ data.dynamic_ancillary_file_group[ type ] }}
            {%- else %}
            {{ type }}:
            {%- endif %}
            {%- endfor %}
          product_path_group:
            product_path: {{ data.product_path_group.product_path }}
            scratch_path: {{ data.product_path_group.scratch_path }}
            sas_output_file: {{ data.product_path_group.product_path }}
          primary_executable:
            product_type: CSLC_S1
          processing:
            polarization: co-pol
