RunConfig:
  Name: OPERA-DSWX-HLS-PGE-CONFIG
  Groups:
    PGE:
      PGENameGroup:
        PGEName: DSWX_HLS_PGE
      InputFilesGroup:
        InputFilePaths:
          {%- for input in runconfig.input_file_group.input_file_path %}
          - {{ input }}
          {%- endfor %}
      DynamicAncillaryFilesGroup:
        AncillaryFileMap:
          {%- for type in runconfig.dynamic_ancillary_file_group.keys() %}
          {%- if runconfig.dynamic_ancillary_file_group[ type ] is not none %}
          {{ type }}: {{ runconfig.dynamic_ancillary_file_group[ type ] }}
          {%- endif %}
          {%- endfor %}
      ProductPathGroup:
        OutputProductPath: {{ runconfig.product_path_group.product_path }}
        ScratchPath: {{ runconfig.product_path_group.scratch_path }}
      PrimaryExecutable:
        ProductIdentifier: DSWX_HLS
        ProductVersion: "{{ runconfig.product_path_group.product_version }}"
        ProgramPath: python3
        ProgramOptions:
          - /home/conda/proteus-1.0.1/bin/dswx_hls.py
          - --full-log-format
        ErrorCodeBase: 100000
        SchemaPath: /home/conda/opera/pge/dswx_hls/schema/dswx_hls_sas_schema.yaml
        IsoTemplatePath: /home/conda/opera/pge/dswx_hls/templates/OPERA_ISO_metadata_L3_DSWx_HLS_template.xml.jinja2
        IsoMeasuredParameterDescriptions: /home/conda/opera/pge/dswx_hls/templates/dswx_hls_measured_parameters.yaml
      QAExecutable:
        Enabled: False
        ProgramPath:
        ProgramOptions:
      DebugLevelGroup:
        DebugSwitch: False
        ExecuteViaShell: False
    SAS:
      runconfig:
        name: dswx_hls_workflow_default
        groups:
          pge_name_group:
            pge_name: DSWX_HLS_PGE
          input_file_group:
            input_file_path:
              {%- for input in runconfig.input_file_group.input_file_path %}
              - {{ input }}
              {%- endfor %}
          dynamic_ancillary_file_group:
            {%- for type in runconfig.dynamic_ancillary_file_group.keys() %}
            {%- if runconfig.dynamic_ancillary_file_group[type] is not none %}
            {{ type }}: {{ runconfig.dynamic_ancillary_file_group[type] }}
            {%- else %}
            {{ type }}:
            {%- endif %}
            {%- endfor %}
            # TODO: update descriptions as necessary when new ancillary releases are available
            dem_file_description: Digital Elevation Model (DEM) for the NASA OPERA project (v1.0) based on the Copernicus DEM 30-m and Copernicus 90-m referenced to the WGS84 ellipsoid
            landcover_file_description: Land Cover 100m - collection 3 - epoch 2019 discrete classification map
            worldcover_file_description: ESA WorldCover 10m 2020 v1.0
            shoreline_shapefile_description: NOAA GSHHS Level 1 resolution f - GSHHS_f_L1
          primary_executable:
            product_type: DSWX_HLS
          product_path_group:
            product_path: {{ runconfig.product_path_group.product_path }}
            scratch_path: {{ runconfig.product_path_group.scratch_path }}
            output_dir: {{ runconfig.product_path_group.product_path }}
            product_id: dswx_hls
            product_version: {{ runconfig.product_path_group.product_version }}
          processing:
            check_ancillary_inputs_coverage: {{ runconfig.processing.check_ancillary_inputs_coverage }}
            apply_ocean_masking: {{ runconfig.processing.apply_ocean_masking }}
            save_wtr: True    # Layer 1 - WTR
            save_bwtr: True   # Layer 2 - BWTR
            save_conf: True   # Layer 3 - CONF
            save_diag: True   # Layer 4 - DIAG
            save_wtr_1: True  # Layer 5 - WTR-1
            save_wtr_2: True  # Layer 6 - WTR-2
            save_land: True   # Layer 7 - LAND
            save_shad: True   # Layer 8 - SHAD
            save_cloud: True  # Layer 9 - CLOUD
            save_dem: True    # Layer 10 - DEM
            save_rgb: False   # Reflectance RGB color composition
            save_infrared_rgb: False  # SWIR-1, NIR, and Red reflectance color composition
          browse_image_group:
            save_browse: True
            browse_image_height: 1024
            browse_image_width: 1024
            exclude_psw_aggressive_in_browse: False
            not_water_in_browse: 'white'
            cloud_in_browse: 'gray'
            snow_in_browse: 'cyan'
