RunConfig:
  Name: OPERA-DISP-S1-PGE-CONFIG
  Groups:
    PGE:
      PGENameGroup:
        PGEName: DISP_S1_PGE
      InputFilesGroup:
        InputFilePaths:
          {%- for input in data.input_file_group.input_file_paths %}
          - {{ input }}
          {%- endfor %}
      DynamicAncillaryFilesGroup:
        AncillaryFileMap:
          {%- for type in data.dynamic_ancillary_file_group.keys() %}
          {%- if data.dynamic_ancillary_file_group[ type ] is not none %}
          {%- if data.dynamic_ancillary_file_group[ type ] is iterable and data.dynamic_ancillary_file_group[ type ] is not string %}
          {{ type }}:
          {%- for value in data.dynamic_ancillary_file_group[ type ] %}
            - {{ value }}
          {%- endfor %}{# for value in data.dynamic_ancillary_file_group[ type ] #}
          {%- else %}
          {{ type }}: {{ data.dynamic_ancillary_file_group[ type ] }}
          {%- endif %}{# if data.dynamic_ancillary_file_group[ type ] is iterable and data.dynamic_ancillary_file_group[ type ] is not string #}
          {%- endif %}{# if data.dynamic_ancillary_file_group[ type ] is not none #}
          {%- endfor %}{# for type in data.dynamic_ancillary_file_group.keys() #}
      ProductPathGroup:
        OutputProductPath: {{ data.product_path_group.product_path }}
        ScratchPath: {{ data.product_path_group.scratch_path }}
      PrimaryExecutable:
        ProductIdentifier: DISP_S1
        ProductVersion: "{{ data.product_path_group.product_version }}"
        ProgramPath: disp-s1
        ProgramOptions:
          - run
        ErrorCodeBase: 500000
        SchemaPath: /home/mamba/opera/pge/disp_s1/schema/disp_s1_sas_schema.yaml
        AlgorithmParametersSchemaPath: /home/mamba/opera/pge/disp_s1/schema/algorithm_parameters_disp_s1_schema.yaml
        IsoTemplatePath: /home/mamba/opera/pge/disp_s1/templates/OPERA_ISO_metadata_L3_DISP_S1_template.xml.jinja2
      QAExecutable:
        Enabled: False
        ProgramPath:
        ProgramOptions: []
      DebugLevelGroup:
        DebugSwitch: {{ data.processing.debug_switch }}
        ExecuteViaShell: False
    SAS:
      input_file_group:
        cslc_file_list:
          {%- for input in data.input_file_group.input_file_paths %}
          - {{ input }}
          {%- endfor %}
        frame_id: {{ data.processing.frame_id }}
      dynamic_ancillary_file_group:
        algorithm_parameters_file: {{ data.processing.algorithm_parameters }}
        {%- for type in data.dynamic_ancillary_file_group.keys() %}
        {%- if data.dynamic_ancillary_file_group[ type ] is not none %}
        {%- if data.dynamic_ancillary_file_group[ type ] is iterable and data.dynamic_ancillary_file_group[ type ] is not string %}
        {{ type }}:
        {%- for value in data.dynamic_ancillary_file_group[ type ] %}
          - {{ value }}
        {%- endfor %}{# for value in data.dynamic_ancillary_file_group[ type ] #}
        {%- else %}
        {{ type }}: {{ data.dynamic_ancillary_file_group[ type ] }}
        {%- endif %}{# if data.dynamic_ancillary_file_group[ type ] is iterable and data.dynamic_ancillary_file_group[ type ] is not string #}
        {%- endif %}{# if data.dynamic_ancillary_file_group[ type ] is not none #}
        {%- endfor %}{# for type in data.dynamic_ancillary_file_group.keys() #}
      static_ancillary_file_group:
        {%- for type in data.static_ancillary_file_group.keys() %}
        {%- if data.static_ancillary_file_group[ type ] is not none %}
        {{ type }}: {{ data.static_ancillary_file_group[ type ] }}
        {%- else %}
        {{ type }}:
        {%- endif %}
        {%- endfor %}
      primary_executable:
        product_type: {{ data.processing.product_type }}
      product_path_group:
        product_path: {{ data.product_path_group.product_path }}
        scratch_path: {{ data.product_path_group.scratch_path }}
        sas_output_path: {{ data.product_path_group.product_path }}
        product_version: "{{ data.product_path_group.product_version }}"
        save_compressed_slc: true
      worker_settings:
        gpu_enabled: false
        threads_per_worker: {{ data.processing.threads_per_worker }}
        n_parallel_bursts: {{ data.processing.n_parallel_bursts }}
        block_shape:
          - 512
          - 512
      log_file: {{ data.product_path_group.scratch_path }}/disp-s1-sas.log
