RunConfig:
  Name: OPERA-DIST-S1-PGE-SAMPLE-CONFIG
  Groups:
    PGE:
      PGENameGroup:
        PGEName: DIST_S1_PGE
      InputFilesGroup:
        InputFilePaths:
          {%- for input in runconfig.input_file_group.pre_rtc_copol %}
          - {{ input }}
          {%- endfor %}
          {%- for input in runconfig.input_file_group.pre_rtc_crosspol %}
          - {{ input }}
          {%- endfor %}
          {%- for input in runconfig.input_file_group.post_rtc_copol %}
          - {{ input }}
          {%- endfor %}
          {%- for input in runconfig.input_file_group.post_rtc_crosspol %}
          - {{ input }}
          {%- endfor %}
          {%- if runconfig.input_file_group.prev_product %}
          {%- for input in runconfig.input_file_group.prev_product %}
          - {{ input }}
          {%- endfor %}
          {%- endif %}
      DynamicAncillaryFilesGroup:
        AncillaryFileMap: {}  # TODO: Don't know how I should fill this part out based on the SAS RC
      ProductPathGroup:
        OutputProductPath: {{ runconfig.product_path_group.product_path }}
        ScratchPath: {{ runconfig.product_path_group.scratch_path }}
      PrimaryExecutable:
        ProductIdentifier: DIST_S1
        ProductVersion: "{{ runconfig.product_path_group.product_version }}"
        ProgramPath: /opt/conda/envs/dist-s1-env/bin/dist-s1
        ProgramOptions:
        - run_sas
        - --runconfig_yml_path
        ErrorCodeBase: 700000
        SchemaPath: /home/ops/opera/pge/dist_s1/schema/dist_s1_sas_schema.yaml
        AlgorithmParametersSchemaPath: /home/ops/opera/pge/dist_s1/schema/algorithm_parameters_dist_s1_schema.yaml
        IsoTemplatePath: /home/ops/opera/pge/dist_s1/templates/OPERA_ISO_metadata_L3_DIST_S1_template.xml.jinja2
        IsoMeasuredParameterDescriptions: /home/ops/opera/pge/dist_s1/templates/dist_s1_measured_parameters.yaml
      QAExecutable:
        Enabled: false
        ProgramPath: null
        ProgramOptions: []
      DebugLevelGroup:
        DebugSwitch: false
        ExecuteViaShell: true
    SAS:
      run_config:
        pre_rtc_copol:
          {%- for input in runconfig.input_file_group.pre_rtc_copol %}
          - {{ input }}
          {%- endfor %}
        pre_rtc_crosspol:
          {%- for input in runconfig.input_file_group.pre_rtc_crosspol %}
          - {{ input }}
          {%- endfor %}
        post_rtc_copol:
          {%- for input in runconfig.input_file_group.post_rtc_copol %}
          - {{ input }}
          {%- endfor %}
        post_rtc_crosspol:
          {%- for input in runconfig.input_file_group.post_rtc_crosspol %}
          - {{ input }}
          {%- endfor %}
        {%- if runconfig.input_file_group.prev_product %}
        pre_dist_s1_product:
          {%- for input in runconfig.input_file_group.prev_product %}
          - {{ input }}
          {%- endfor %}
        {%- endif %}
        mgrs_tile_id: {{ runconfig.mgrs_tile_id }}
        dst_dir: {{ runconfig.product_path_group.scratch_path }}
        water_mask_path: {{ runconfig.water_mask_path }}
        apply_water_mask: {{ runconfig.apply_water_mask }}
        device: best
        memory_strategy: high
        tqdm_enabled: false
        batch_size_for_despeckling: {{ runconfig.processing.batch_size_for_despeckling }}
        batch_size_for_norm_param_estimation: {{ runconfig.processing.batch_size_for_norm_param_estimation }}
        stride_for_norm_param_estimation: {{ runconfig.processing.stride_for_norm_param_estimation }}
        n_workers_for_despeckling: {{ runconfig.processing.n_workers_for_despeckling }}
        n_workers_for_norm_param_estimation: {{ runconfig.processing.n_workers_for_norm_param_estimation }}
        optimize: {{ runconfig.processing.optimize }}
        n_lookbacks: {{ runconfig.lookbacks.n_lookbacks }}
        moderate_confidence_threshold: 3.5
        high_confidence_threshold: 5.5
        product_dst_dir: {{ runconfig.product_path_group.product_path }}
        bucket: ~
        confirmation_strategy: {{ runconfig.lookbacks.confirmation_strategy }}
        lookback_strategy: {{ runconfig.lookbacks.lookback_strategy }}
