# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

# User specific environment and startup programs
export LD_LIBRARY_PATH=/usr/lib:/usr/lib64:$HOME/conda/lib:/usr/local/lib:$LD_LIBRARY_PATH

PATH=$HOME/conda/bin:$PATH:$HOME/.local/bin:$HOME/bin

export PATH

export PYTHONPATH=~/mozart/ops/opera-pcm:~/mozart/ops/CNM_product_delivery:~/mozart/ops/pcm_commons:$PYTHONPATH

# source mozart
export MOZART_DIR=$HOME/mozart
source $MOZART_DIR/bin/activate
