# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

# User specific environment and startup programs
export LD_LIBRARY_PATH=/usr/lib:/usr/lib64:$HOME/conda/lib:/usr/local/lib:$LD_LIBRARY_PATH

PATH=$HOME/conda/bin:$PATH:$HOME/.local/bin:$HOME/bin

export PATH

# source metrics
export METRICS_DIR=$HOME/metrics
source $METRICS_DIR/bin/activate
