# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

# User specific environment and startup programs
export LD_LIBRARY_PATH=$HOME/conda/lib:/usr/lib:/usr/lib64:/usr/local/lib:$LD_LIBRARY_PATH
#PATH=$PATH:$HOME/.local/bin:$HOME/bin
PATH=$HOME/conda/bin:$PATH:$HOME/.local/bin:$HOME/bin

export PATH

# source grq
export SCIFLO_DIR=$HOME/sciflo
source $SCIFLO_DIR/bin/activate
