#!/bin/bash
# DIT-aware OpenSearch Dashboards import.
# Routes curls through mozart's nginx on port 443 (https://MOZART_FQDN/metrics/...)
# instead of hitting OS Dashboards' :5601 directly. Pattern matches nisar-pcm
# and swot-pcm (NSDS-4186 DIT migration). The wait-for-it on GRQ_FQDN:5601 is
# a sanity check that OS Dashboards is alive somewhere in the cluster.
./wait-for-it.sh {{GRQ_FQDN}}:5601 -t 120

# Sleeping to give time for kibana to start up
# sleep 60

# job and worker metrics
curl -k -f -XDELETE -H 'Content-Type: application/json' -H 'securitytenant: global' -H 'osd-xsrf: true' 'https://{{MOZART_FQDN}}/metrics/api/saved_objects/index-pattern/logstash-*'
curl -k -f -XPOST -H 'Content-Type: application/json' -H 'securitytenant: global' -H 'osd-xsrf: true' 'https://{{MOZART_FQDN}}/metrics/api/saved_objects/index-pattern/logstash-*' '-d{"attributes":{"title":"logstash-*","timeFieldName":"@timestamp"}}'
curl -k -XPOST -H 'Content-Type: application/json' -H 'securitytenant: global' -H 'osd-xsrf: true' 'https://{{MOZART_FQDN}}/metrics/api/opensearch-dashboards/settings/defaultIndex' -d'{"value": "logstash-*"}'
curl -k -XPOST https://{{MOZART_FQDN}}/metrics/api/opensearch-dashboards/dashboards/import -H 'securitytenant: global' -H 'osd-xsrf:true' -H 'Content-type:application/json' -d @job-dashboards.json
curl -k -XPOST https://{{MOZART_FQDN}}/metrics/api/opensearch-dashboards/dashboards/import -H 'securitytenant: global' -H 'osd-xsrf:true' -H 'Content-type:application/json' -d @worker-dashboards.json

# SDSWatch
curl -k -f -XDELETE -H 'Content-Type: application/json' -H 'securitytenant: global' -H 'osd-xsrf: true' 'https://{{MOZART_FQDN}}/metrics/api/saved_objects/index-pattern/sdswatch-*'
curl -k -f -XPOST -H 'Content-Type: application/json' -H 'securitytenant: global' -H 'osd-xsrf: true' 'https://{{MOZART_FQDN}}/metrics/api/saved_objects/index-pattern/sdswatch-*' '-d{"attributes":{"title":"sdswatch-*","timeFieldName":"sdswatch_timestamp"}}'
curl -k -XPOST https://{{MOZART_FQDN}}/metrics/api/opensearch-dashboards/dashboards/import -H 'securitytenant: global' -H 'osd-xsrf:true' -H 'Content-type:application/json' -d @sdswatch-dashboards.json
